<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" color="dark" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>{{params}} Recipes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{params}} Recipes</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list lines="full">

        <ion-item
                *ngFor="let item of categoryRecipes.slice(0,10); let i = index"
                button
                detail="true"
                (click)="detail(item, i)"
        >
            <img [src]="images[i]" alt="" slot="start" class="recipe-thumbnail"/>

            <div class="recipe-caption">
                <ion-label class="ion-text-wrap">{{item?.recipe?.label }}</ion-label>
                <span> {{item?.recipe?.dishType}} </span>
                <div class="recipe-total-time">
                    <ion-icon name="time" color="recipe-green"></ion-icon>
                    <span> {{item?.recipe?.totalTime}} min</span>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
